<form method="post" action="/applications">
<a href="/sessions/logout">Log Out</a><br>
<h1>Create a New Application</h1><br>
Company: <input type="text" name="application[company]" placeholder="Input" required autofocus><br>
Position: <input type="text" name="application[position]" placeholder="Input" required><br>
Deadline: <input type="date" name="application[deadline]" placeholder="Input" required><br>
Description: <input type="text" name="application[description]" placeholder="Input" required><br>
Comments: <input type="text" name="application[comments]" placeholder="Input" required><br>
<input type="submit" value="Create Application">
</form>

